<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.webchat.mapping.ILogDao">

    <resultMap id="BaseResultMap" type="com.amayadream.webchat.pojo.Log">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="TIME" property="time" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="DETAIL" property="detail" jdbcType="VARCHAR"/>
        <result column="IP" property="ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID, name, TIME, TYPE, DETAIL, IP
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, name, time, type, detail, ip
        FROM log
        ORDER BY TIME DESC
        LIMIT #{offset}, #{limit}
  </select>

    <select id="selectLogByname" resultMap="BaseResultMap">
        SELECT id, name, time, type, detail, ip
        FROM log
        WHERE name = #{name, jdbcType=VARCHAR}
        ORDER BY TIME DESC
        LIMIT #{offset}, #{limit}
  </select>

    <select id="selectCount" resultMap="BaseResultMap">
        SELECT COUNT(*) name FROM log
    </select>

    <select id="selectCountByname" resultMap="BaseResultMap">
    SELECT COUNT(*) name FROM log
    WHERE name = #{name, jdbcType=VARCHAR}
  </select>

    <insert id="insert" parameterType="com.amayadream.webchat.pojo.Log">
    INSERT INTO log (ID, name, TIME, TYPE, DETAIL, IP)
    VALUES (#{id, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{time, jdbcType=VARCHAR}, #{type, jdbcType=INTEGER},
    #{detail, jdbcType=INTEGER}, #{ip, jdbcType=VARCHAR})
  </insert>

    <delete id="delete" parameterType="string">
    DELETE FROM log
    WHERE ID = #{id, jdbcType=VARCHAR}
  </delete>

    <delete id="deleteThisUser" parameterType="string">
    DELETE FROM log
    WHERE name = #{name, jdbcType=VARCHAR}
  </delete>

    <delete id="deleteAll">
    DELETE FROM log
  </delete>

</mapper>